%p{:class => "user-#{user.id}"}
  - if user.moderator?
    - if can? :remove_moderator, User
      = link_to remove_moderator_profile_path(user), method: :post,remote: true, class: 'button radius secondary', :style => "color: #ffffff; margin-top: 18px" do
        Moderator entfernen

  - else
    - if can? :assign_moderator, User
      = link_to assign_moderator_profile_path(user), method: :post, remote: true, class: 'button radius secondary', :style => "color: #ffffff; margin-top: 18px"  do
        Moderator
