%div{'data-subscribe-id' => @quarter_id}
  - if @subscribed
    = button_to "E-Mail Abo beenden", unsubscribe_quarter_path(@quarter_id), :method => :post, :remote => true, :class => 'button radius', :style => "width: 100%"
  - else
    = button_to "E-Mail Abo", subscribe_quarter_path(@quarter_id), :method => :post, :remote => true, :class => 'button radius', :style => "width: 100%"