%div{'data-subscribe-id' => @initiative.id}
  - if @subscribed
    = button_to "E-Mail Abo beenden", unsubscribe_initiative_path(@initiative), :method => :post, :remote => true, :class => 'button radius'
  - else
    = button_to "E-Mail Abo", subscribe_initiative_path(@initiative), :method => :post, :remote => true, :class => 'button radius'