#support_button
  - if current_user
    - if @supporting
      = button_to "Unterstützung beenden", unsupport_initiative_path(@initiative), :method => :post, :remote =>   true, :class => 'start', :style => "width: 100%"
    - else
      = button_to "Initiative unterstützen", support_initiative_path(@initiative), :method => :post, :remote => true, :class => 'start', :style => "width: 100%"
  - else
    = link_to "Initiative unterstützen", '#', "data-reveal-id" => "login-window", class: "start"
