.powrc
*.rbc
*.sassc
*.scssc
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.sass-cache/
script/test
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
public/uploads/*
*.sass-cache*
*.scssc
.rvmrc
.DS_Store

