%p
  Viele Grüße,
  %br
  Dein Team von unserAC.de

%p
  unserAC.de
  %br
  eine Initiative der
  %br
  Aachener Stiftung Kathy Beys
  %br
  Schmiedstraße 3
  %br
  D-52062 Aachen
  %br
  Telefon +49 (0) 241 40929 0
  %br
  Telefax +49 (0) 241 40929 20
  %br
  www.unserAC.de
  %br
  info@unserAC.de