Lieber Initiator,
\
auf der Website unserAC.de hast Du vor einiger Zeit die Initiative "#{@initiative.title}" ins Leben gerufen. In den letzten Wochen ist dort wenig passiert. Hat sich Dein Anliegen erledigt oder gibt es Neuigkeiten, die Deine Mitstreiter wissen sollten? Auf unserAC.de hast Du viele Möglichkeiten, Deine Neuigkeiten schnell an alle Interessierten zu verbreiten!
Oder können wir Dir helfen und Dich unterstützen?
\
Kontaktiere uns unter: info@unserac.de
\
= render "/initiativen_mailer/signatur"
