%p
  Hallo #{@resource.username},
%p
  vor einigen Momenten hast Du auf unserAC.de Hilfe zur Erstellung eines neuen Passworts angefordert. Wenn Du ein neues Passwort vergeben möchtest, klicke bitte auf den nachfolgenden Link: "Passwort ändern"
%p
  = link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @token)
%p
  Wenn Du kein Passwort ändern willst oder die Hilfe nicht selbst angefordert hast, ignoriere diese E-Mail einfach. Dein nur Dir bekannten Passwort bleibt dann erhalten.

= render "/initiativen_mailer/signatur"
